.list-table-format {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.2fr 0.3fr;
    align-items: center;
    gap: 40px;
    padding: 15px 15px;
    border: 1px solid #cacaca;
    font-size: 18px;
}

.list-table-format.title {
    background-color: #f9f9f9;
}

.list-table-format img {
    width: 100px;
}

.cursor {
    cursor: pointer;
}

@media (max-width: 600px) {
  .list-table-format {
    grid-template-columns: 1fr 3fr 1fr;
    gap: 15px;
  }

  .list-table-format.title {
    display: none;
  }
}