.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 4%;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar .logo {
    width: 80px;
    border-radius: 20px;
    image-rendering: optimizeQuality;
    /* filter: brightness(0.95); -> Có thể bỏ nếu logo bị tối */
    cursor: pointer;
}

.navbar .profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.navbar p {
    color: #333;
    font-weight: 500;
    font-size: 1.2rem;
}