.sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #a9a9a9;
    border-top:0;
    font-size: max(1vw,10px);
    font-weight: normal;
}

.sidebar-options {
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.sidebar-option {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid #a9a9a9;
  border-right: 0;
  padding: 8px 10px;
  border-radius: 3px 0px 0px 3px;
  cursor: pointer;
  border-radius: 10px 0px 0px 10px;

}

.sidebar-option.active{
  background-color: rgb(252, 246, 232);
  border-color: rgb(47, 19, 18);
  border-radius: 10px 0px 0px 10px;
}

.icon_size{
  width: 25px;
  height: 23px;
}