.sidebar {
    width: 15%;
    height: 90vh;
    border: 1.5px solid #a9a9a9;
    border-top: 0;
    font-size: max(1vw, 10px);
    font-weight: normal;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0 30px 0;
    box-sizing: border-box; 

    position: sticky;
    top: 0;
}

.sidebar-options {
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-option {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 10px;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;

    border: 1px solid transparent;
    border-right: 0;
  
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.sidebar-option.active {
    background-color: rgb(252, 246, 232);
    border-color: rgb(47, 19, 18);
}

.sidebar-option:not(.active):hover {
    background-color: #f5f5f5; 
}

.icon_size {
    width: 25px;
    height: 23px;
}

.sidebar-logout {
    padding-left: 20%;
}