.food-item {
    width:100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
}

.food-item-image {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.food-item-info {
    padding: 20px;
}

.food-item-name-rating p {
    font-size: 20px;
    font-weight: 500;
}

.food-item-name-rating img {
    width: 70px;
}

.food-item-desc {
    color: #676767;
    font-size: 12px;
    margin: 10px 0; 
}

.food-item-price-counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.food-item-price {
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 0;
}

.food-item-img-container {
    position: relative; 
}

.add {
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    background-color: whitesmoke;
    border: 1px solid #ccc;
}

.food-item-counter {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 50px;
    background-color: white;
}

.food-item-counter img {
    width: 35px;
    cursor: pointer;
}

.add-cart-btn{
    background-color: tomato;
    border: none;
    color: white;
    padding: 10px 22px; 
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.add-cart-btn:hover {
    transform: scale(1.03); 
    font-weight: 300;
}