@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  background-color: #f0f2f5;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-layout {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;
  padding: 20px;
  margin-top: 10px;
  align-items: stretch;

}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-content {
  border-radius: 16px;
  min-height: 80vh;
}