.list {
    width: 70%;
    margin: 0;
    padding: 40px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
    min-height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list-table p{
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin-bottom: 25px;
}

p{
    font-size: 16px !important;
}

.user-list-divider {
    border: none;
    border-top: 3px solid #ddd;
    margin: 10px 0;
}

.list-table {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.list-usertable-format {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    padding: 12px 0;
    /* border-bottom: 1px solid #f0f0f0; */
    font-size: 14px;
    color: #555;
    gap: 10px;
}

.list-usertable-format.title {
    background-color: #f8f8f8;
    padding: 15px 10px;
    font-weight: 500;
    color: #333;
    /* border-bottom: 2px solid #ddd; */
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.list-usertable-format p {
    margin: 0;
    font-weight: 400;
}

.list-usertable-format .select {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    min-width: 80px;
}

.list-usertable-format .cursor {
    cursor: pointer;
    color: #ff4500;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.list-usertable-format .cursor:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .list {
        padding: 20px;
    }
    .list-usertable-format {
        grid-template-columns: 1.5fr 1.5fr 0.8fr 1fr 0.5fr;
        font-size: 12px;
    }
}