.account-profile {
    width: 100%;
    max-width: 600px;
    margin: 0; 
    
    position: static;
    top: auto;
    
    height: fit-content;
    padding: 40px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.03);
    
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.account-profile h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: 500;
    margin-bottom: 8px;
    color: #555;
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical; 
}

/* Kiểu dáng cho phần upload ảnh */
.image-upload label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-upload img {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Làm cho ảnh preview tròn */
    object-fit: cover;
    border: 2px dashed #ccc;
    padding: 5px;
    margin-top: 10px;
}

.image-upload p {
    font-weight: 500;
    color: #555;
    margin: 0;
}

.btn-save {
    padding: 12px 20px;
    background-color: rgb(247, 238, 220);
    color: rgb(146, 139, 139);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.btn-save:hover {
    background-color: rgb(240, 233, 220);   
}