.header{
    height: 34vw;
    margin: 30px 150px;
    background: url('/header_bakery.jpg') no-repeat;
    background-size: contain;
    position: relative;
    border-radius: 40px;
    overflow: hidden;
    background-position: center;
    filter: blur(0px);
    transition: filter 0.4s ease-in-out; 
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    gap: 2.0vw;
    max-width: 30%;
    bottom: 10%;
    left: 6vw;
    background-color: rgba(255, 255, 255, 0.475);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 2vw;
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.header:hover .header-contents {
    opacity: 1;
    visibility: visible;
}

button:hover{
    cursor: pointer;
}

.header-contents h2 {
    font-weight: 600;
    color: black;
    font-size: max(3vw, 18px);
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
}

.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius:  50px;
}


@media (max-width: 1050px) {

    .header-contents{
       max-width: 45%;
    }
}
@media (max-width: 750px) {

    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
      display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }

}